/* ----- COLORS ----- */

$color-primary: #5e5e5e;
$color-secondary: #a8a8a8;

$color-grey-light: #f1f3f3;

$color-white: #ffffff;
$color-black: rgb(0, 0, 0);
$color-orange: #f1a054;
$color-orange-light: #fae9d5;
$color-blue-light: #eff2f3;

// FUNCTIONAL COLOR VARIABLES
$color-shadow-light: rgba($color-white, 0.5);
$box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
$box-shadow-light: 0 0 50px 0 rgba(81, 162, 243, 0.1);
// $box-shadow-blue: 0 0 50px 0 rgba(64, 87, 157, 0.1);
