@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,70");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "./layout/index";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: $color-primary;
}

h1 {
  font-size: 35px;
  font-weight: 300;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: $color-primary;
  cursor: pointer;
}

.la-btn {
  padding: 10px 20px;
  font-size: 13px;
  text-align: left;
  border: none;
  outline: none;
  user-select: none;
  cursor: pointer;
  @include hover-scale-01;

  &--primary {
    padding: 0;
    margin-left: 10px;
    color: $color-secondary;
  }

  &--secondary {
    border-radius: 25px;
    color: $color-orange;
    background: $color-orange-light;
  }
}

.material-icons {
  display: flex;
  padding: 0;
  font-size: 18px;
  border-radius: 50%;
  user-select: none;
  cursor: pointer;
  @include hover-scale-01;

  &--clean {
    color: $color-secondary;
    border: none;
  }

  &--orange {
    background: $color-orange;
    color: $color-white;
    border: 1px solid $color-white;
  }

  &--orange-light {
    background: $color-orange-light;
    color: $color-orange;
    border: 1px solid $color-orange-light;
  }

  &--white {
    background: $color-white;
    color: $color-secondary;
    border: 1px solid $color-secondary;
  }
}
