@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,70");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "./layout/index";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-weight: 300;
  // font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  color: $color-primary;
}

h1 {
  font-size: 35px;
  font-weight: 300;
}

h2 {
  font-weight: 25px;
}

h3 {
  font-weight: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.la-btn {
  padding: 10px 20px;
  border: none;
  font-size: 14px;
  outline: none;
  user-select: none;
  cursor: pointer;

  &--primary {
    color: $color-primary;
  }

  &--secondary {
    border-radius: 25px;
    color: $color-orange;
    background: $color-orange-light;
  }
}
