.la-future {
  .la-future__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    padding: 100px;
    @include will-animate-y;

    @include responsive-sm {
      width: 100%;
    }
    @include responsive-xs {
      width: 100%;
      padding: 50px 25px;
    }

    .la-future__btn {
      display: flex;
      flex-direction: row;
      padding-top: 30px;

      .la-btn--primary {
        padding-left: 15px;
      }
    }
  }

  .la-future__cols {
    display: flex;
    flex-direction: row;

    @include responsive-sm {
      flex-direction: column;
    }
    @include responsive-xs {
      flex-direction: column;
    }

    .la-future__imgs {
      display: flex;
      flex-direction: row;
      height: 700px;
      background-image: url("asset/inter02.jpg");
      background-size: cover;
      background-position: left;
      background-repeat: no-repeat;
      position: relative;
      @include will-animate-y(400ms);

      @include responsive-sm {
        height: 500px;
        background-position: center;
        order: 2;
      }
      @include responsive-xs {
        height: 500px;
        background-position: center;
        order: 2;
      }

      .la-future__icon-1,
      .la-future__icon-2,
      .la-future__icon-3 {
        width: 50px;
        height: 50px;
        background: $color-primary;
        position: absolute;
        right: -25px;
      }
      .la-future__icon-1 {
        top: 25%;
      }
      .la-future__icon-2 {
        top: 50%;
        box-shadow: $box-shadow;
      }
      .la-future__icon-3 {
        top: 75%;
      }
    }

    > div {
      flex: 1 0 50%;
    }

    .la-future__content {
      padding: 0 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include will-animate-y(700ms);

      @include responsive-sm {
        padding: 0 100px 50px 100px;
      }
      @include responsive-xs {
        padding: 0 25px 50px 25px;
      }

      .la-future__item {
        padding: 20px 0;
      }
    }
  }
}
