nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  color: $color-secondary;
  font-size: 14px;

  .la-nav__logo {
    width: 80px;
    height: 80px;
    background-image: url("asset/logoGLD.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .la-nav__tabs {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include responsive-xs {
      display: none;
    }

    .la-nav__tab {
      padding-right: 20px;
      @include hover-scale-01;
    }
  }

  .la-nav__btn {
    display: flex;
    align-items: center;
    user-select: none;
    @include hover-scale-01;

    @include responsive-xs {
      display: none;
    }

    .la-btn--clean,
    i {
      color: $color-secondary;
    }
  }

  .la-nav__menu {
    visibility: hidden;
    display: flex;
    align-items: center;
    color: $color-gold;
    font-size: 30px;
    user-select: none;
    outline: none;
    cursor: pointer;
    @include hover-scale-01;

    @include responsive-xs {
      visibility: visible;
    }

    &:focus {
      & ~ .la-nav__sidebar {
        transform: translateX(0);
      }
    }
  }
}
