.la-service {
  background: $color-primary;
  color: $color-white;
  min-height: 70vh;
  display: flex;
  position: relative;

  @include responsive-sm {
    flex-direction: column;
  }
  @include responsive-xs {
    flex-direction: column;
  }

  > div {
    flex: 0 0 50%;
  }

  .la-service__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    @include will-animate-y(300ms);

    @include responsive-sm {
      padding-bottom: 25px;
    }
    @include responsive-xs {
      padding: 50px 25px;
    }

    h4 {
      padding-bottom: 50px;
      font-size: 14px;
      font-weight: 300;
    }

    .la-service__item {
      padding: 10px 0;

      h3 {
        font-weight: 400;
      }
    }
  }

  .la-service__img {
    height: 700px;
    background-image: url("asset/inter03.jpg");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    @include will-animate-y(600ms);

    @include responsive-sm {
      background-position: center;
      height: 500px;
    }
    @include responsive-xs {
      background-position: center;
      height: 500px;
    }
  }

  .la-service__shape {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    width: 150px;
    height: 150px;
    padding: 20px;
    background: $color-white;
    border: 1px solid $color-white;
    box-shadow: $box-shadow;
    color: $color-primary;
    font-size: 13px;
    line-height: 1.2;
    cursor: pointer;

    position: absolute;
    bottom: 10%;
    right: 430px;
    @include will-animate-y(900ms);

    @include responsive-sm {
      bottom: 5%;
      right: 140px;
    }
    @include responsive-xs {
      bottom: 0;
      right: 0;
    }

    i {
      font-size: 15px;
      color: $color-primary;
      border-radius: 50%;
      border: 1px solid $color-primary;
      margin-bottom: 10px;
    }

    button {
      margin-left: 0;
    }
  }
}
